html{
    background-color: black;
    font-family: "Zilla Slab", sans-serif;
    color: white;
}

h1{
    text-align: center;
}

h2{
    color: purple;
    text-align: center;
}

.code {
    background-color: beige;
    color: black;
}

table {
    border: 2px solid white;
    width: 650px;
    margin: 0 auto;
  }

td{
    border: 1px;
    border-style: dotted;
    border-color: pink;
}

thead{
    background-color: pink;
    color: #0b0403;
    font-style: italic;
}
